.parte-um {
background-color: rgb(128, 119, 0);
}

.inicial {
    background-color: #224578;
}

.texto-inicial {
    background-color: #007734;
}

#fundo {
    text-align: center;
    font-size: 30px;
}

.texto {
    margin: 10px;
    text-align: justify;
    font-size: 20px;
    color:aquamarine;
}

li {
     list-style-type: "\270D";
    text-align: center;
}

