.parte-um {
background-color: rgb(128, 119, 0);
}

#fundo {
    text-align: center;
    font-size: 30px;
}
.texto {
    text-align: center;
    font-size: 20px;
    color:aquamarine;
}

